<ion-content>
  <div class="top-user">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" src="../assets/img/tabbar/logout.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Contacto
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="flex">
      <div class="person-shipping">
        <img src="/assets/img/png/contact.png" alt="">
      </div>
    </div>

    <form #formulario="ngForm" action="post" (ngSubmit)="enviarEmail()">
    <ion-card mode="ios" class="dest-top">
      <ion-card-content mode="ios">
        <p class="shipping-title">Nombre y Apellido</p>
        <ion-list mode="ios" class="radius">
          <div>
            <ion-item class="ion-no-padding">
              <ion-input required type="text" name="nombre" 
              [(ngModel)]="data.nombre"
              pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$"
              >
            {{nombre}}</ion-input>
            </ion-item>
          </div>
        </ion-list>
        <div class="divider-space"></div>
        <p class="shipping-title">Teléfono</p>
        <ion-list mode="ios" class="radius">
          <div>
            <ion-item class="ion-no-padding">
              <ion-input type="tel" name="telefono" 
              [(ngModel)]="data.telefono" required
              pattern="^((\\+91 -?)|0)?[0-9+]{10,13}$" maxlength="13" minlength="10"></ion-input>
            </ion-item>
<!--             <div *ngIf="valid()">
              <ion-label class="valid-form">Debe tener un mínimo de 11 y máximo de 13 dígitos</ion-label>
            </div> -->
            
          </div>
        </ion-list>

        <div class="divider-space"></div>
        <p class="shipping-title">Empresa <span class="subtitle-dimensions">(si tiene)</span></p>
        <ion-list mode="ios" class="radius">
          <div>
            <ion-item class="ion-no-padding">
              <ion-input type="text" name="empresa" [(ngModel)]="data.empresa"></ion-input>
            </ion-item>
          </div>
        </ion-list>

        <div class="divider-space"></div>
        <p class="shipping-title">Mensaje</p>
        <ion-list mode="ios" class="radius">
          <div>
            <ion-item class="ion-no-padding">
              <ion-input type="text" name="mensaje" [(ngModel)]="data.mensaje" required maxlength="300"></ion-input>
            </ion-item>
          </div>
        </ion-list>

        <div class="divider-space"></div>
        <div class="btn-padding">
          <ion-button type="submit" [disabled]="formulario.invalid" mode="ios" shape="round" expand="full" color="total">
            Enviar
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
    </form>

  </div>
</ion-content>
