<ion-content>
  <div class="top-user">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" src="../assets/img/tabbar/logout.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Rastrea tu paquete
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-slides class="calc-top bullet" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
      <ion-slide *ngFor="let slide of sliderPrincipal.slides">
        <ion-card mode="ios" class="space-bottom">
          <ion-card-content class="ion-no-padding card-slide">
            <img [src]="slide.img" />
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <div class="text-track">
      <h2 class="prox">Próximamente</h2>
      En esta sección podrás hacer seguimiento de tus paquetes de manera rápida y sencilla
      <h2 class="thanks">¡Gracias por preferirnos!</h2>
    </div>
  </div>
</ion-content>
