ion-content {
    --background: var(--ion-color-white) !important;
    display: flex;
    align-content: center;
}

ion-grid.grid-form {
    height: 100%;
}

ion-row.row-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* ion-footer ion-toolbar {
    --background: var(--ion-color-envios);
    border-top: 5px solid #fc3c3d;
    --min-height: 45px;
} */

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.title-login {
    font-size: 26px;
    font-weight: 600;
    color: #222 !important;
    padding-left: 19px;
}

.subtitle-login {
    font-size: 14px;
    font-weight: 400;
    //color: #fff;
    color: #999;
    display: flex;
    justify-content: center;
}

ion-label.valid-form {
    font-size: 13.5px;
    font-weight: 400;
    color: #fc3c3d;
    padding-left: 20px;
}

[linespace] {
    margin-bottom: 22px;
}

.link-button {
    font-weight: 500;
    color: #222 !important;
    cursor: pointer;
}

.register {
    margin-top: -4px;
    color: #999 !important;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

[icon-small] {
    width: 22px;
}

ion-input {
    --color: #222 !important;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 14px;
    font-weight: 400;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.top-btn {
    margin-top: -8px;
}

.forget-password {
    color: #999;
    font-size: 14px;
    display: block;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 7px;
    font-weight: 500;
}

[topspace] {
    margin-bottom: 16px;
}

/* ocultar underline routerlink */
.paddingSlide:focus {
    outline: 0;
}