<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="../assets/img/tabbar/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="../assets/img/tabbar/calculator.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="../assets/img/tabbar/megaphone.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="../assets/img/tabbar/parcel.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon src="../assets/img/tabbar/contact.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
