ion-content {
  --background: #f4f4f4;
}

ion-toolbar {
  --background: var(--ion-color-total);
}

.shipping-title {
  font-weight: 500;
  font-size: 17px;
  color: #222;
}

[inline-icon] {
  width: 25px;
}

.select-shipping {
  width: 100%;
}

ion-select {
  max-width: 100%;
}

/* .radius {
  border-radius: 10px;
} */

.dest-top {
  margin-top: -60px;
}

.flex {
  display: flex;
  justify-content: center;
}

.person-shipping {
  width: 70%;
  text-align: center;
  margin-top: 8px;
}

.top-user {
  background-color: #fc3c3d;
  padding-bottom: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.divider-space {
  margin-bottom: 20px;
}

.divider-space2 {
  margin-bottom: 12px;
}

.divider-space3 {
  margin-bottom: 10px;
}

.medidas {
  text-align: center;
}

div.md-calc {
  font-size: 13px;
  font-weight: 500;
  color: #222;
}

div.color-gray>ion-input {
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}

.dimensions-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: #999;
  text-align: left;
  margin-bottom: 5px;
}

ion-item.product-search {
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

.white-weight {
  color: white;
}

.subtitle-dimensions {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
}

.title-opt {
  font-size: 15px;
}

.title-stacked {
  color: #999;
}

.divider-space-dest {
  margin-top: 5px;
}

.divider-space-dest2 {
  margin-top: -8px;
}

.divider-space-btn {
  margin-bottom: 20px;
}

.btn-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.dark-input {
  background-color: #f7f7f7;
  padding-left: 10px !important;
}

ion-select {
  border-radius: 5px;
}


/*@media (prefers-color-scheme: dark) {
  .shipping-title {
    color: #FFF;
  }

  ion-content {
    --background: #000;
  }

  .name-product {
    color: #fff;
  }

  .trash {
    color: #fff;
  }

  .tipo-dim {
    color: #FFF;
  }

  div.color-gray>ion-input {
    background-color: #111;
    border-radius: 10px;
    text-align: center;
    color: #FFF;
  }

  ion-item.product-search>ion-input {
    background-color: #111;
    color: #FFF;
    border-radius: 5px;
  }

  .dark-input {
    background-color: #111;
    padding-left: 10px !important;
  }

  ion-select {
    background-color: #111;
    color: #fff;
    border-radius: 5px;
  }

  ion-item.item-inner {
    --border-width: 0;
    --inner-border-width: 0;
  }

}*/