<ion-content>
  <div class="top-user">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" src="../assets/img/tabbar/logout.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Calculadora de envíos
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="flex">
      <div class="person-shipping">
        <img src="/assets/img/png/shipping.png" alt="">
      </div>
    </div>

    <ion-card mode="ios" class="dest-top">
      <ion-card-content mode="ios">
        <p class="shipping-title">Origen</p>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValSucursal" placeholder="Sucursal" class="select-shipping"
                cancelText="Cancelar" okText="Aceptar">
                <ion-label>Sucursal</ion-label>
                <ion-select-option *ngFor="let sucursal of listSucursal" [value]="sucursal.id_origen">
                  {{sucursal.nombreSucursal}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>
        <div class="divider-space-dest"></div>
        <p class="shipping-title">Destino</p>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValCountry" (ionChange)="changeCountry($event)" placeholder="País"
                class="select-shipping" cancelText="Cancelar" okText="Aceptar">
                <ion-label>País</ion-label>
                <ion-select-option *ngFor="let country of listCountry" [value]="country.id_pais">{{country.nombrePais}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>

        <div class="divider-space-dest2"></div>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValState" (ionChange)="changeState($event)" placeholder="Estado"
                class="select-shipping" cancelText="Cancelar" okText="Aceptar">
                <ion-label>Estado</ion-label>
                <ion-select-option *ngFor="let state of listState" [value]="state">{{state}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>

        <div class="divider-space-dest2"></div>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValCity" (ionChange)="changeCity($event)" placeholder="Ciudad"
                class="select-shipping" cancelText="Cancelar" okText="Aceptar">
                <ion-label>Ciudad</ion-label>
                <ion-select-option *ngFor="let city of listCity" [value]="city.id_ciudades_det">
                  {{city.nombreCiudades_det}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card mode="ios" class="calc-shipping">
      <ion-card-content mode="ios">

        <p class="shipping-title">Tipo de envío</p>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValShipping" (ionChange)="changeShipping($event)"
                placeholder="Seleccione" class="select-shipping" cancelText="Cancelar" okText="Aceptar">
                <ion-label>Envío</ion-label>
                <ion-select-option [value]="listEnvio[0].id">{{listEnvio[0].name}}</ion-select-option>
                <div *ngIf="nameCountry != 'Colombia'">
                  <ion-select-option [value]="listEnvio[1].id">{{listEnvio[1].name}}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>
        <div class="divider-space-dest"></div>
        <p class="shipping-title">Unidad de medida</p>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValSystem" (ionChange)="changeSystem($event)" placeholder="Seleccione"
                class="select-shipping" cancelText="Cancelar" okText="Aceptar">
                <ion-label>Unidad de medida</ion-label>
                <ion-select-option *ngFor="let unidad of listUnidad" [value]="unidad.id">{{unidad.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>

        <div class="divider-space"></div>
        <p class="shipping-title">Lista de artículos</p>
        <ion-list mode="ios">
          <div class="item-content">
            <ion-button (click)="presentModal()" fill="clear" expand="block" color="total">
              <ion-icon slot="start" name="cube"></ion-icon>
              Ver artículos
            </ion-button>
            <div *ngIf="nameProduct != ''">
              <ion-item class="product-search ion-no-padding" lines="none">
                <ion-row style="width: 100%;">
                  <ion-col size="10" class="ion-align-self-start">
                    <ion-label class="name-product">
                      {{nameProduct}}
                    </ion-label>
                  </ion-col>
                  <ion-col (click)="reset()" size="2" class="ion-align-items-end" style="text-align: right;">
                    <ion-icon style="cursor: pointer;" name="trash" class="trash"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-item>
            </div>
          </div>
        </ion-list>

        <div class="divider-space3"></div>
        <div class="shipping-title">Dimensiones
          <span class="subtitle-dimensions" *ngIf="selectedValSystem === 1">pulgadas</span>
          <span class="subtitle-dimensions" *ngIf="selectedValSystem === 2">centímetros</span>
        </div>
        <ion-grid class="medidas">
          <ion-row>
            <ion-col>
              <div class="md-calc color-gray">
                <p class="dimensions-title">Ancho</p>
                <ion-input required type="number" [(ngModel)]="w" placeholder="0"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class="md-calc color-gray">
                <p class="dimensions-title">Alto</p>
                <ion-input required type="number" [(ngModel)]="h" placeholder="0"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class="md-calc color-gray">
                <p class="dimensions-title">Largo</p>
                <ion-input required type="number" [(ngModel)]="l" placeholder="0"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <div class="md-calc color-gray weight-left">
                <p class="dimensions-title">Peso</p>
                <ion-input required type="number" [(ngModel)]="peso_lb" placeholder="0"></ion-input>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="md-calc" *ngIf="selectedValSystem === 1">
                <p class="dimensions-title white-weight">Tipo</p>
                <ion-input required type="text" readonly>
                  <ion-label class="tipo-dim">
                    lb
                  </ion-label>
                </ion-input>
              </div>
              <div class="md-calc" *ngIf="selectedValSystem === 2">
                <p class="dimensions-title white-weight">Tipo</p>
                <ion-input required type="text" readonly>
                  <ion-label class="tipo-dim">
                    kg
                  </ion-label>
                </ion-input>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="divider-space3"></div>
        <ion-button (click)="reset()" size="small" mode="ios" shape="round" fill="outline" expand="full" color="envios">
          Resetear
        </ion-button>

        <div class="divider-space"></div>
        <p class="shipping-title">Opcionales</p>
        <ion-list mode="ios" class="radius">
          <div>
            <ion-item class="ion-no-padding" lines="none">
              <ion-label class="title-opt" style="white-space: normal;">
                Seguro {{seguro}}%
                <p style="color: #fc3c3d;">Recomendamos para productos con un costo mayor a $500</p>
              </ion-label>
              <ion-toggle color="success" [(ngModel)]="isSeguro" (ionChange)="changeSeguro($event)"></ion-toggle>
            </ion-item>
            <!-- Si selecciona seguro -->
            <div *ngIf="isSeguro">
              <ion-item class="product-search ion-no-padding">
                <ion-label position="stacked">Precio del artículo ($)</ion-label>
                <ion-input type="number" [(ngModel)]="precio" name="precio"></ion-input>
              </ion-item>
              <div class="divider-space2"></div>
            </div>
          </div>

          <div>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="title-opt">Otros cargos</ion-label>
              <ion-toggle color="success" [(ngModel)]="isCharge" (ionChange)="changeCharge($event)"></ion-toggle>
            </ion-item>
            <!-- Si selecciona otros cargos -->
            <div *ngIf="isCharge === true">
              <ion-item class="product-search ion-no-padding">
                <ion-label position="stacked">Cargos adicionales ($)</ion-label>
                <ion-input [(ngModel)]="otrosCargos" type="number" placeholder="Ingrese el valor ($)"></ion-input>
              </ion-item>
            </div>
          </div>
        </ion-list>

        <div class="divider-space"></div>
        <p class="shipping-title">Mis datos</p>
        <ion-list mode="ios">
          <div>
            <div style="height: 12px;"></div>
            <ion-item class="product-search ion-no-padding" lines="none">
              <!-- <ion-label position="stacked" class="title-stacked">Nombre y Apellido</ion-label> -->
              <ion-input class="dark-input" [(ngModel)]="data.nombre" name="nombre" required type="text"
                placeholder="Nombre y Apellido" readonly pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$"></ion-input>
            </ion-item>
            <div class="divider-space-dest"></div>
            <ion-item class="product-search ion-no-padding" lines="none">
              <ion-input class="dark-input" [(ngModel)]="empresa" type="text" name="empresa"
                placeholder="Empresa (opcional)"></ion-input>
            </ion-item>
            <div class="divider-space-dest"></div>
            <ion-item class="product-search ion-no-padding" lines="none">
              <!-- <ion-label position="stacked" class="title-stacked">Correo electrónico</ion-label> -->
              <ion-input class="dark-input" [(ngModel)]="data.email" required type="email" name="email"
                placeholder="Correo electrónico" readonly
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
            </ion-item>
          </div>
        </ion-list>

        <div class="divider-space"></div>
        <p class="shipping-title">Método de pago</p>
        <ion-list mode="md" class="radius">
          <div class="item-content">
            <ion-item class="ion-no-padding item-inner">
              <ion-select [(ngModel)]="selectedValPayment" (ionChange)="changePayment($event)" placeholder="Seleccione"
                class="select-shipping" cancelText="Cancelar" okText="Aceptar">
                <ion-label>Método de pago</ion-label>
                <ion-select-option *ngFor="let pago of listPago" [value]="pago.id_payment">{{pago.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-list>
      </ion-card-content>
      <div class="btn-padding">
        <ion-button [disabled]="validForm()" (click)="getResults()" mode="ios" shape="round" expand="full"
          color="total">
          Calcular
        </ion-button>
      </div>
      <div class="divider-space-btn"></div>
    </ion-card>
  </div>
</ion-content>