ion-content ion-toolbar {
  --background: translucent;
}

.top-user {
  background-color: #fc3c3d;
  padding: 1px;
  height: 11.875em; //190px
}

.name-user {
  padding-left: 0.6em;
  /* color: #222; */
  font-weight: 600;
  font-size: 1.438em;
  margin-top: 4px;
}

.subtitle-top {
  font-weight: 300;
  font-size: 0.75em; //12px
  margin-left: 3px;
}

.icon-light {
  color: #fff !important;
}

.title-top {
  color: #999;
  text-transform: uppercase;
  padding-left: 0.938em; //15px
  font-size: 0.938em; //15px
  font-weight: 600;
  margin-bottom: -3px;
}

.title-top-left {
  color: #999;
  text-transform: uppercase;
  padding-left: 0.938em; //15px
  font-size: 0.938em; //15px
  font-weight: 600;
  margin-bottom: 1px;
}

.title-top-right {
  color: #222;
  text-transform: uppercase;
  padding-top: 6px;
  font-size: 0.938em; //15px
  font-weight: 600;
}

.calc-top {
  margin-top: -0.75em; //12px
}

.title-slide-calc {
  font-size: 1.188em;
  font-weight: 600;
}

.img-calc {
  padding-left: 33px;
  padding-right: 33px;
  margin-bottom: -4px;
  padding-top: 0.938em; //15px
}

.space-title {
  margin-top: -8px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

p.img-size-l > img {
  height: 1.563em;
}

.card-slide {
  margin-bottom: -8px;
}

.space-bottom {
  margin-bottom: 2.5em;
}

ion-slides.bullet {
  --bullet-background: #fc3c3d;
  --bullet-background-active: #fc3c3d;
}

ion-slides.no-bullets {
  --bullet-background: transparent;
  --bullet-background-active: transparent;
  margin-bottom: -0.938em; //15px
}

ion-slides.no-bullets-services {
  --bullet-background: transparent;
  --bullet-background-active: transparent;
  margin-top: -5px;
}

.title-slide-services {
  font-size: 1em;
  font-weight: 500; 
}

.img-services {
  width: 100%;
  padding-left: 2.375em;
  padding-right: 2.375em;
  margin-bottom: -4px;
  padding-top: 0.938em; //15px
}

/* ocultar underline routerlink */
.paddingSlide:focus {
  outline: 0;
}

ion-skeleton-text {
  width: 1024px;
  height: 11em;
  max-width: 100%;
}

.card-slide-skeleton {
  margin-bottom: -8px;
  margin-top: -8px;
}

@media (prefers-color-scheme: dark) {
  .title-top-right {
    color: #fff;
  }

}