<ion-content>
  <div class="top-user">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" src="../assets/img/tabbar/logout.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Total Envíos USA
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div *ngIf="slideHome.length === 0 && !isSkeleton"> 
      <ion-slides [options]="slideSkeleton">
        <ion-slide *ngFor="let slide of [].constructor(1)">
          <ion-card style="margin-bottom: 25px;">
            <ion-card-content class="ion-no-padding card-slide-skeleton">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngIf="slideHome.length > 0">
      <ion-slides  class="calc-top bullet" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" show-pager="false">
        <ion-slide *ngFor="let slide of slideHome">
          <ion-card mode="ios" class="space-bottom">
            <ion-card-content class="ion-no-padding card-slide">
              <img [src]="slide.imagen" />
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>


    <div *ngIf="user">
      <h2 class="name-user">Hola, {{ getName() }}</h2>
    </div>
    <p class="title-top">¿Desea calcular su envío?</p>
  
    <ion-slides class="no-bullets" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions_calc" show-pager="false">
      <ion-slide *ngFor="let slide of sliderOne.slides" [routerLink]="slide.route" class="paddingSlide">
        <ion-card mode="ios">
          <img [src]="slide.img" class="img-calc" />
          <ion-card-header class="space-title">
             <!-- <ion-card-subtitle class="card-sub-dir">Envío por</ion-card-subtitle> -->
            <ion-card-title class="title-slide-calc" [innerHTML]="slide.titulo"></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <div class="space-between">
      <p class="title-top-left">Otros Servicios</p>
      <ion-button class="title-top-right" (click)="onWebsite()" fill="clear">
        Saber más
      </ion-button>
    </div>
    <ion-slides class="no-bullets-services" mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions_calc" show-pager="false">
      <ion-slide *ngFor="let slide of sliderServices.slides">
        <ion-card mode="ios" color="total" (click)="onServices(slide.url)">
          <img [src]="slide.img" class="img-services" />
          <ion-card-header class="space-title">
            <ion-card-title class="title-slide-services" [innerHTML]="slide.titulo"></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
