ion-content {
  --background: #ffff;
 }

 ion-toolbar {
   --background: var(--ion-color-envios);
 }

.shipping-title {
  font-weight: 500;
  font-size: 17px;
  color: #222;
}

[inline-icon] {
  width: 25px;
}

.select-shipping {
  width: 100%;
}

ion-select {
  max-width: 100%;
}

.radius {
  border-radius: 10px;
}

.dest-top {
  margin-top: -20px;
}

.flex {
  display: flex;
  justify-content: center;
}

.person-shipping {
  width: 85%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.top-user {
  background-color: #005574;
  padding-bottom: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.divider-space {
  margin-bottom: 20px;
}

.medidas {
  text-align: center;
}

div.md-calc {
  font-size: 13px;
  font-weight: 500;
  color: #222;
}

div.color-gray > ion-input {
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}

.dimensions-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: #999;
  text-align: left;
  margin-bottom: 5px;
}

ion-item.product-search {
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

.white-weight {
  color: white;
}

.subtitle-dimensions {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
}

.title-opt {
  font-size: 15px;
}

.title-stacked {
  color: #999;
}

.divider-space-dest {
  margin-top: 5px;
}

.divider-space-btn {
  margin-bottom: 20px;
}

.btn-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.galeria {
  border-radius: 10px;
}

/*@media (prefers-color-scheme: dark) {
  ion-content {
    --background: #000;
   }

}*/