<ion-content>
  <div class="top-user">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" src="../assets/img/tabbar/logout.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Promociones
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="flex">
      <div class="person-shipping">
        <img src="/assets/img/png/promo-top2.png" alt="">
      </div>
    </div>
  </div>

  <ion-grid class="gallery-top" *ngIf="slidePromo.length === 0 && !isSkeleton">
    <ion-row>
      <ion-col size="6" *ngFor="let promo of [].constructor(10)">
        <ion-label>
          <ion-skeleton-text animated style="height: 130px; border-radius: 10px;">
            <div style="width: 100%; height: 130px;"></div>
          </ion-skeleton-text>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="slidePromo.length > 0" class="gallery-top">
    <ion-row>
      <ion-col size="6" *ngFor="let promo of slidePromo">
        <img class="galeria" src="{{promo.imagen}}" alt="" (click)="verImagen(promo.imagen)">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
