.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 40px;
}

ion-content {
    --background: rgba(0, 0, 0, 1);
}

.flex {
    position: absolute;
    left: 49%;
    top: 39%;
    -webkit-transform: translate(-49%, -49%);
    transform: translate(-49%, -49%);
    width: 100%;
}