<ion-content fullscreen>

  <div class="flex">
    <ion-item class="close-fake" lines="none" text-center>
      <ion-button (click)="close()" fill="clear" color="light">
        <ion-icon slot="start" name="close"></ion-icon>
        Cerrar
      </ion-button>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="{{imagen}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>