ion-content {
  --background: #f4f4f4;
}

ion-toolbar {
  --background: var(--ion-color-total);
}

.shipping-title {
  font-weight: 500;
  font-size: 18px;
  color: #222;
}

[inline-icon] {
  width: 25px;
}

.select-shipping {
  width: 100%;
}

ion-select {
  max-width: 100%;
}

.radius {
  border-radius: 10px;
}

.person-shipping {
  width: 70%;
  text-align: center;
  margin-top: 8px;
}

.top-user {
  background-color: #fc3c3d;
  padding-bottom: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.divider-space {
  margin-bottom: 20px;
}

.medidas {
  text-align: center;
}

div.md-calc {
  font-size: 13px;
  font-weight: 500;
  color: #222;
}

div.color-gray>ion-input {
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}

.dimensions-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: #999;
  text-align: left;
  margin-bottom: 5px;
}

ion-item.product-search {
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

.white-weight {
  color: white;
}

.subtitle-dimensions {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
}

.title-opt {
  font-size: 15px;
}

.title-stacked {
  color: #999;
}

.divider-space-dest {
  margin-top: 5px;
}

.divider-space-btn {
  margin-bottom: 20px;
}

.btn-padding {
  padding-left: 15px;
  padding-right: 15px;
}

ion-back-button {
  display: block;
  color: white;
}

.factura-color {
  background-color: #ebebeb;
}

.price {
  font-size: 2.8em;
  color: #222;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}

.entrega {
  font-size: 1.5em;
  color: #222;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}

.title-price {
  color: #fff;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

.total-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1px;
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
}

.total-text-info {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1px;
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
}

.total-text2 {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  text-transform: initial;
  padding-left: 3.0em;
  padding-right: 3.0em;
  margin-bottom: 20px;
}

.total-text3 {
  font-weight: 600;
  text-align: center;
  color: #000;
}

.left {
  text-align: left;
  font-size: 14px;
  margin-left: -10px;
  color: #3e3e3e;
}

.right {
  text-align: right;
  font-size: 14px;
  margin-right: -7px;
  color: #3e3e3e;
}

.left-pay {
  text-align: left;
  font-size: 14px;
  padding-left: 20px;
  color: #3e3e3e;
}

.right-pay {
  text-align: right;
  padding-right: 3px;
  color: #3e3e3e;
}

.title-cal {
  font-size: 14px;
  color: #999;
  font-weight: 500;
  margin-top: -0.9em;
}

.subtitle-cal {
  font-size: 14px;
  color: #222;
  margin-top: -3px;
  font-weight: 500;
}

.price-mt-cal {
  color: #222;
  font-weight: 600;
  margin-top: -3px;
  font-size: 14px;
}

.title-cal-light {
  font-size: .9em;
  color: #fff;
  font-weight: 500;
  margin-top: -0.9em;
}

.gray-light {
  background-color: #f6f6f6;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  padding-left: 3.0em;
  padding-right: 3.0em;
  margin-bottom: 2.0em;
}

[linespace] {
  margin-top: 20px;
}

div.img-box {
  display: flex;
  justify-content: center;
}

.img-box>img {
  width: 85px;
  padding-top: 1px;
  padding-bottom: 14px;
}

.shipping-time {
  margin-bottom: 20px;
}

.data-left {
  text-align: left;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.data-right {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}

ion-item {
  --border-color: var(--ion-color-item);
}

.data-user {
  font-size: 13px;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: left;
}

.user-name {
  font-size: 11px;
  color: #999;
  font-weight: 400;
}

.mis-datos {
  margin-top: 18px;
}

/*
@media (prefers-color-scheme: dark) {
  .price {
    color: #fff;
  }

  .total-text3 {
    color: #fff;
  }

  .gray-light {
    background-color: #1e1e1e;
  }

  .left {
    color: #ebebeb;
  }

  .right {
    color: #ebebeb;
  }

  .factura-color {
    background-color: #3e3e3e;
  }

  .entrega {
    color: #fff;
  }

  .data-left {
    color: #ebebeb;
  }

  .data-user {
    color: #ebebeb;
  }

  ion-content {
    --background: #000;
  }

  .title-cal-light {
    color: #1e1e1e;
  }

  .data-right {
    color: #f7ffff;
  }

  .price-mt-cal {
    color: #fff;
  }

  .total-text2 {
    color: #fff;
  }

}*/