<ion-content fullscreen>
  <div class="top-user">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" src="../assets/img/tabbar/logout.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center" style="color: white;">
          Cálculo estimado
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card class="ion-no-padding" mode="ios">
      <ion-item-divider class="gray-light">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="left">
                Monto flete
              </div>
            </ion-col>
            <ion-col>
              <div class="right">
                ${{detail.flete}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>

      <div *ngIf="detail.totalMinAereo && detail.tipoenvio === 'Aéreo'">
        <ion-item-divider class="gray-light">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="left">
                  Total a pagar (Por mínimo)
                </div>
              </ion-col>
              <ion-col>
                <div class="right">
                  ${{detail.fletemin}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-divider>
      </div>

      <div *ngIf="detail.totalMinMaritimo && detail.tipoenvio === 'Marítimo'">
        <ion-item-divider class="gray-light">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="left">
                  Total a pagar (Por mínimo)
                </div>
              </ion-col>
              <ion-col>
                <div class="right">
                  ${{detail.fletemin}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-divider>
      </div>

      <ion-item-divider class="gray-light">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="left">
                Seguro ({{detail.seguro}}%)
              </div>
            </ion-col>
            <ion-col>
              <div class="right">
                ${{detail.montoseguro}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>

      <ion-item-divider class="gray-light" *ngIf="detail.pais === 'Colombia'">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="left">
                Impuesto ({{detail.bogotaImpuesto}}%)
              </div>
            </ion-col>
            <ion-col>
              <div class="right">
                ${{detail.montoimpuesto}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>

      <ion-item-divider class="gray-light">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="left">
                Otros cargos
              </div>
            </ion-col>
            <ion-col>
              <div class="right">
                ${{detail.otroscargos}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>

      <ion-item-divider class="factura-color">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="left total-text3">
                Total monto
              </div>
            </ion-col>
            <ion-col>
              <div class="right total-text3">
                ${{detail.totalMonto}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="left total-text3">
              <span class="title-cal left-pay">Método de pago</span> <br>
              <span class="subtitle-cal left-pay total-text3" *ngIf="detail.tipo === 0">{{detail.namePayment}} ({{detail.percent}}%)</span>
              <span class="subtitle-cal left-pay total-text3" *ngIf="detail.tipo === 1">{{detail.namePayment}} ${{detail.percent}}</span>
            </div>
          </ion-col>
          <ion-col>
            <div class="right-pay">
              <span class="title-cal-light">total</span> <br>
              <span class="price-mt-cal">${{detail.montometodo}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div linespace></div>

      <div class="total-factura">
        <div class="total-text">
          Total a pagar
        </div>
        <div class="price"><small>$</small>{{detail.totalapagar}}</div>
        <div class="total-text2">Caja de 
          <span class="total-text3" *ngIf="detail.sistema === 1">{{detail.ancho}} in x {{detail.alto}} in x {{detail.largo}} in</span>
          <span class="total-text3" *ngIf="detail.sistema === 2">{{detail.ancho}} cm x {{detail.alto}} cm x {{detail.largo}} cm</span>

          <span *ngIf="detail.peso_lb && detail.tipoenvio === 'Aéreo' && detail.volumetrico">
            <span *ngIf="detail.sistema === 1" class="total-text3">, {{detail.peso_lb}} Peso/lb,</span>
            <span *ngIf="detail.sistema === 2" class="total-text3">, {{detail.peso_lb}} Peso/lb,</span>
          </span>         
          
<!--           <span *ngIf="detail.volumetrico && detail.tipoenvio === 'Aéreo'"> con un peso volumétrico de 
            <span *ngIf="detail.sistema === 1" class="total-text3">{{detail.peso}} lb</span>
            <span *ngIf="detail.sistema === 2" class="total-text3">{{detail.peso}} kg</span>
          </span> -->
          <span *ngIf="!detail.volumetrico && detail.tipoenvio === 'Aéreo'"> con un peso de 
            <span *ngIf="detail.sistema === 1" class="total-text3">{{detail.peso}} lb</span>
            <span *ngIf="detail.sistema === 2" class="total-text3">{{detail.peso_lb}} kg</span> y peso volumétrico
            <span *ngIf="detail.sistema === 1" class="total-text3">{{detail.peso_vol_aereo}} lb</span>
            <span *ngIf="detail.sistema === 2" class="total-text3">{{detail.peso_dec}} kg</span>
          </span>

          <span *ngIf="detail.piescubicos && detail.tipoenvio === 'Marítimo'"> con un pie cúbico de 
            <span class="total-text3">{{detail.piescubicos}} FT<sup>3</sup></span>
          </span>
          </div>
      </div>

      <div class="btn-padding">
        <ion-button (click)="share()" fill="outline" mode="ios" shape="round" expand="full" color="total">
          <ion-icon slot="start" name="share"></ion-icon>
          Compartir
        </ion-button>
      </div>
      <div class="divider-space-btn"></div>
    </ion-card>
  </div>
  <!-- Fin top user -->

  <!-- Comienzo de la tarjeta de entrega -->
  <div>
    <ion-card mode="ios" class="calc-shipping">
      <ion-card-content mode="ios">

        <div class="shipping-time">
          <div class="img-box">
            <img src="assets/img/png/ico_cajas-azul-sola-dark.png" alt="">
          </div>

          <div class="total-text-info">Tiempo estimado de entrega</div>
          <div class="entrega">{{detail.days}}</div>
        </div>

        <ion-item class="ion-no-padding">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="data-left">
                  Envío
                </div>
              </ion-col>
              <ion-col>
                <div class="data-right">
                  {{detail.tipoenvio}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="data-left">
                  País
                </div>
              </ion-col>
              <ion-col>
                <div class="data-right">
                  {{detail.pais}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="data-left">
                  Estado
                </div>
              </ion-col>
              <ion-col>
                <div class="data-right">
                  {{detail.estado}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="data-left">
                  Ciudad
                </div>
              </ion-col>
              <ion-col>
                <div class="data-right">
                  {{detail.ciudad}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngIf="detail.empresa.length > 0" class="ion-no-padding" lines="none">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="data-left">
                  Empresa
                </div>
              </ion-col>
              <ion-col>
                <div class="data-right">
                  {{detail.empresa}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <div class="mis-datos">
          <ion-list class="flex">
            <ion-item lines="none">
              <div class="data-user">
                <span class="user-name">Nombre y Apellido</span><br>
                {{detail.nombreUser}}
              </div>
            </ion-item>
          </ion-list>
        
          <ion-list class="flex">
            <ion-item lines="none">
              <div class="data-user">
                <span class="user-name">Correo electrónico</span><br>
                {{detail.correo}}
              </div>   
            </ion-item>
          </ion-list>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>