<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
