<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" expand="block"
        fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>Lista de productos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)" [debounce]="250"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="products.length === 0">
    <div>
      <ion-item *ngFor="let product of [].constructor(25)">
        <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>

  <ion-list *ngIf="products.length > 0">
    <!-- Si no hay resultados en la búsqueda -->
    <div *ngIf="(products | filtro: textoBuscar).length === 0">
      <p class="no-result">No hay resultados para su búsqueda</p>
    </div>

    <ion-item class="art" *ngFor="let product of products | filtro: textoBuscar" (click)="getDataProduct(product)">
      <ion-icon slot="start" name="cube"></ion-icon>
      {{product.nombre}}
    </ion-item>
  </ion-list>
</ion-content>