:host {
    background: linear-gradient(180deg, rgba(0,59,80, 0) 20%, rgba(0,85,116, 1) 100%), url('/assets/img/login/fondo-total-6.png') no-repeat center/cover;
}

ion-content {
    --background: transparent;
    display: flex;
    align-content: center;
}

ion-grid.grid-form {
    height: 100%;
}

ion-row.row-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.divpad {
    padding-left: 27px;
    padding-right: 27px;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.title-login {
    font-size: 26px;
    font-weight: 600;
    color: #222;
    padding-left: 19px;
}

.subtitle-login {
    font-size: 14px;
    font-weight: 400;
    //color: #fff;
    color: #999;
    display: flex;
    justify-content: center;
}

ion-label.valid-form {
    font-size: 13.5px;
    font-weight: 400;
    color: #fc3c3d;
    padding-left: 20px;
}

[linespace] {
    margin-bottom: 70px;
}

.link-button {
    font-weight: 500;
    color: #222;
    cursor: pointer;
}

.register {
    margin-top: -4px;
    color: #999;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

[icon-small] {
    width: 22px;
}

ion-input {
    --color: #222;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 5px;
    font-size: 14px;
    font-weight: 400;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-item {
    --ion-background-color: transparent !important;
    --highlight-color-focused: var(--ion-color-total);
}

.form-space {
    margin-bottom: 18px;
}

.top-btn {
    margin-top: -8px;
}

.forget-password {
    color: #999;
    font-size: 14px;
    display: block;
    text-align: right;
    padding-top: 12px;
    padding-bottom: 7px;
    font-weight: 500;
}

[topspace] {
    margin-bottom: 16px;
}

/* ocultar underline routerlink */
.paddingSlide:focus {
    outline: 0;
}

.space-bottom {
    margin-bottom: 35px;
}

.title-welcome {
    color: white;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.frase-imp {
    font-weight: 600; 
    color: #fff;
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 3px;
}

.img-center {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.img-center > img {
    width: 200px;
}

.name-company {
    color: white;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: center; 
}

.subname-company {
    color: #ff4e45;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: center;   
}

.subtitle-login {
    font-size: 14px;
    font-weight: 400;
    //color: #fff;
    color: #fefefe;
    display: flex;
    justify-content: center;
}

.btncolor {
    --color: #FFF !important;
}

@media (prefers-color-scheme: dark) {
    .btncolor {
        --color: #FFF !important;
      }  
}