<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div linespace></div>
  <ion-grid class="divpad grid-form">
    <ion-row class="row-form">
      <ion-col>
        <div class="img-center">
          <img src="assets/img/login/logoicon.svg" alt="">
        </div>    
        <ion-label class="ion-text-center name-company">TOTAL <span class="subname-company">Envíos</span></ion-label>
        <br>
        <ion-label class="ion-text-center title-welcome">Nuestro primer servicio</ion-label>
        <br>
          <ion-label class="frase-imp">ES DAR FELICIDAD</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
<ion-grid class="divpad grid-form">
      <ion-row class="row-form">
        <ion-col>
          <ion-grid class="top-btn">
           <ion-row>
             <ion-col size="10" offset="1">
               <ion-button fill="outline" routerLink="/login" expand="block" shape="round" class="btncolor">
                 Iniciar sesión
               </ion-button>
             </ion-col>
           </ion-row>
         </ion-grid>
         <ion-grid class="top-btn space-bottom">
           <ion-row>
             <ion-col size="10" offset="1">
               <ion-button fill="outline" routerLink="/register" expand="block" shape="round" class="btncolor">
                 Registrarse
               </ion-button>
             </ion-col>
           </ion-row>
         </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -18px; padding-bottom: 7px;">
        <ion-col size="12">
          <ion-label class="subtitle-login ion-text-center">2022 © Total Envíos Llc</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>