<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-no-padding">
  <ion-grid class="divpad grid-form">
    <ion-row class="row-form">
      <ion-col>
        <div topspace></div>
        <ion-label class="title-login">Crear cuenta</ion-label>
        <br>
        <div linespace></div>
        <form #formulario="ngForm" action="post" (ngSubmit)="register()">
        <div class="form-space">
          <ion-item>
            <img icon-small src="assets/img/login/mail.svg" alt="">
            <ion-input required type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="data.email"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
          </ion-item>
          <ion-item>
            <img icon-small src="assets/img/login/user.svg" alt="">
            <ion-input required type="text" placeholder="Nombre y Apellido" name="nombre" [(ngModel)]="data.nombre"
            pattern="^[a-zA-Z\u00E0-\u00FC ]{3,40}$"></ion-input>
          </ion-item>
          <ion-item>
            <img icon-small src="assets/img/login/padlock.svg" alt="">
            <ion-input required type="password" placeholder="Contraseña" name="password" [(ngModel)]="data.password" minlength="6"></ion-input>
          </ion-item>
<!--           <div *ngIf="error">
            <ion-label class="valid-form">Error al registrar usuario</ion-label>
          </div> -->
        </div>
        <ion-grid fixed class="top-btn">
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-button type="submit" [disabled]="formulario.invalid" fill="solid" expand="block" shape="round" color="total">
                Registrar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </form>
        <div>
          <ion-item lines="none">
            <ion-label class="ion-text-center register">Si ya tienes cuenta, <span class="link-button paddingSlide"
                routerLink="/login">Inicia sesión</span></ion-label>
          </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>